body {
  background-color: rgb(247, 255, 4);
  margin-top: 200px;
  text-align: center;
}
#name {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  box-shadow: 5px 5px 6px black;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex_text {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
#btn {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 6px black;
}
#btn:hover {
  background-color: #fff;
  cursor: pointer;
}
#btn:active {
  background-color: #fff;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1127px;
  padding: 0 16px;
}
.main {
  padding: 5px 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.card {
  padding-top: 20px;
  width: 258px;
  height: 138px;
  border: 1px solid black;
  margin-top: 50px;
  /* margin-left: 210px; */
  border: none;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 10px;
}
.man {
  width: 40px;
}
.card-1 {
  padding-top: 20px;
  width: 258px;
  height: 138px;
  border: 1px solid black;
  margin-top: 50px;
  border: none;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 10px;
}
#elresult,
#elresult2,
#elresult3,
#elresult4 {
  color: red;
}

#turn {
  padding: 10px;
  margin: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border: 2px solid #fff;
  color: #fff;
  background: black;
  outline: none;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.turn:active {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
.tun {
  background-color: aquamarine;
  color: black;
  #turn {
    background-color: #fff;
    border: 1px solid black;
    color: black;
  }
}

@media only screen and (max-width: 1011px) {
  h1 {
    font-size: 26px;
  }
  .cards {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flex_text {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
